@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?gb33r2') format('woff'),
         url('../fonts/icomoon.woff2?gb33r2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-code1:before {
    content: "\e900";
  }
  .icon-code:before {
    content: "\f121";
  }
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.woff2') format('woff2'),
         url('../fonts/Play-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    
}
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Bold.woff2') format('woff2'),
         url('../fonts/Play-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    
}

  
  
  
  
