

$btn-color: #24ccf6;
$lite-blue: #2196f3;

$box-shadow-down: 0px 2px 2px rgba(42, 106, 234, 0.9),
                  0px 4px 8px rgba(42, 106, 234, 0.8),
                  0px 6px 10px rgba(42, 106, 234, 0.4);

$box-shadow-up: 0px -2px 2px rgba(42, 106, 234, 0.9),
                0px -4px 8px rgba(42, 106, 234, 0.8),
                0px -6px 10px rgba(42, 106, 234, 0.4);

$box-shadow-sec: 0px 0px 0px rgba(42, 106, 234, 0.9),
                 0px 4px 3px rgba(42, 106, 234, 0.8),
                 0px 8px 6px rgba(42, 106, 234, 0.4);

%frame {
    content: '';
    position: absolute;
    box-shadow: 2px -2px 4px rgb(42, 106, 234), 4px -4px 8px rgb(0, 46, 139), 6px -6px 10px rgb(0, 46, 139);
    width: 100%;
    height: 98%;
    top: -22px;
    right: -30px;
}