$lite-blue: #2196f3;
$box-shadow-down: 0px 2px 2px rgba(42, 106, 234, 0.9),
                  0px 4px 8px rgba(42, 106, 234, 0.8),
                  0px 6px 10px rgba(42, 106, 234, 0.4);
$box-shadow-up: 0px -2px 2px rgba(42, 106, 234, 0.9),
                0px -4px 8px rgba(42, 106, 234, 0.8),
                0px -6px 10px rgba(42, 106, 234, 0.4);